@import "tailwindcss";

@theme {
  --color-app-salmon: #ff947a;
  --color-app-midgreen: #025259;
  --color-app-card: #fff7f3;
  --color-app-border: #f7c1b4;
  --color-app-muted: #4f767a;
  --color-app-primary: #025259;
  --color-app-primary-hover: #013f45;
}
